#errorbox {
    text-align: center;
    align-self: flex-end;
    /* align-items: right; */
    padding-top: 200px;
}

.mainDiv {
    text-align: center;
    /* border-style: outset; */
    border-style: unset;
    border-radius: 10px;
    border-width: 5px;
    margin: 20px;
    opacity: 0;
}

h1 {
    text-align: center;
    opacity: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#os {
    float: left;
}

#ooswe {
    float: right;
}

#cc {
    float: left;
}

#adt {
    float: right;
}

#dip {
    float: left;
}

#dss {
    float: right;
}

#grad1 {
    height: 200px;
    /* background-color: #fde7f9; */
    background-image: linear-gradient(315deg, #fde7f9, #aacaef, #fde7f9, #aacaef);
    /* Standard syntax (must be last) */
}
